# =============== #

# Unity generated #

# =============== #


MRTSeniorDesignTeam4/[Tt]emp/

MRTSeniorDesignTeam4/[Oo]bj/

MRTSeniorDesignTeam4/[Bb]uild

MRTSeniorDesignTeam4/[Ll]ibrary/



sysinfo.txt

*.stackdump

*.bin

*.log
 

# ============================================= #

# Visual Studio / MonoDevelop / Rider generated #

# ============================================= #

[Ee]xported[Oo]bj/

.vs/

/*.userprefs

/*.csproj

/*.pidb

/*.suo

/*.sln*

/*.user

/*.unityproj

/*.booproj

/.idea*/

 

# ============ #

# OS generated #

# ============ #

.DS_Store*

._*

.Spotlight-V100

.Trashes

ehthumbs.db

[Tt]humbs.db

[Dd]esktop.ini
